p {
  padding: 0;
  margin: 0;
}

.list {
  padding: 0;
  width: fit-content;
  height: 350px;
  overflow-y: scroll;

  border: green 1px solid;
  border-radius: 3px;

  padding: 3px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.5rem;
}

.item:hover {
  background-color: aliceblue;
}

.name {
  display: inline-block;
  overflow: hidden;
  width: 150px;
}

.phone-number {
  display: inline-block;
  overflow: hidden;
  width: 190px;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: darkslategrey;
}
