@import '../../variables.css';

.status-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-bottom: 1rem;
}

.connected-status-line {
  color: var(--status-text-color);
}
.disconnected-status-line {
  color: var(--error-text-color);
}
