.del-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 32px;
  width: 32px;
  padding: 0;

  cursor: pointer;

  border: none;
  background-color: transparent;
}

.del-btn:hover {
  border-radius: 50%;
  background-color: lightgray;
}
