:root {
  --title-color: rgb(256, 256, 256);
  --highlited-color: rgb(200, 210, 218);
  --primary-color: rgb(136, 146, 160);
  --status-text-color: rgb(151, 176, 182);
  --error-text-color: rgb(247, 71, 225);

  --target-EN-color: rgb(199, 21, 32);

  --dashboard-background-color: rgb(24, 27, 33);

  --header-text-size: 24px;
  --primary-text-size: 14px;
  --secondary-text-size: 12px;

  --icon-size: 26px;

  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen';
}
